.banner{
  height: 90vh;
  &__Bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -483px;
    width: 1368px;
    height: 963px;
  }
  &__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    &__mainBox {
      margin: 220px 133px;
      .title {
        display: flex;
        flex-direction: column;
        font-size: 38px;
        text-align: center;
        line-height: 55px;
        img {
          margin-top: 25px;
        }
      }
      .buttons {
        font-size: 36px;
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        &__elem {
          font-weight: 300;
          border: 1px solid $mainText;
          width: 275px;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $mainText;
          }
        }
      }
    }
  }


