.contact {
  position: relative;
  margin-top: 50px;
  height: 90vh;
  width: 100%;
  &::after {
    content: "";
    width: 100%;
    background-image: url("/assets/Background-Contact-Form.jpg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .1;
    @include desktop {
      opacity: .3;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .3;
    height: 100%;
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    @include tablet {
      align-items: flex-end;
      margin-right: 200px;
    }

    &__wrap {
      width: 100%;
      @include tablet {
        width: 40%;
      }

      &__headline {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          font-size: 38px;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      &__form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        position: relative;

        .personalData {
          display: flex;
          justify-content: space-between;

          label {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            width: 45%;

            input {
              border: none;
              border-bottom: 1px solid $mainText;
              background: transparent;
            }
          }
        }

        .msg {
          display: flex;
          flex-direction: column;
          margin-top: 30px;

          textarea {
            margin-top: 15px;
            border: none;
            border-bottom: 1px solid $mainText;
            background: transparent;
            height: 100px;
          }
        }

        .sendFormBtn {
          border: 1px solid $mainText;
          background: transparent;
          width: 30%;
          position: absolute;
          right: 0;
          bottom: -65px;
          padding: 13px 30px;
          font-weight: 300;
          font-size: 18px;
          transition: .3s;
          &:hover {
            border: 5px solid $mainHL;
          }
        }
      }
    }

    &__icons {
      position: absolute;
      bottom: 10px;
      right: 150px;
      font-size: 30px;

      i {
        margin-left: 20px;
      }
    }
  }
}

.errorMsg {
  font-size: 12px;
  color: red;
  margin-top: 8px;
  display: none;
}

.successMsg {
  font-size: 18px;
  color: green;
  margin-top: 8px;
  display: none;

}

.active {
   display: inline-block;
}