.donateForm {
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url("/assets/Background-Form.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -50px -83px;

  .wrap {
    height: 100%;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 36px;

    .step {
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: 300;
      opacity: .5;
      @include tablet {
        margin-bottom: 30px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 20px;
      transition: .3s;

      @include tablet {
        font-size: 36px;
        margin-bottom: 40px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;

      &.pickUp {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        font-size: 24px;
        @include tablet {
          width: 60%;
        }
      }

      &__address {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        width: 40%;

        &__elem {
          font-weight: 300;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          @include tablet {
            display: inline-block;
          }

          input, textarea {
            width: 100%;
            float: right;
            background: #e8e8e6;
            border: 1px solid $mainText;
            @include tablet {
              width: 60%;
            }

          }
        }
      }

      &__cities {
        background: transparent;
        width: 300px;
        border: 1px solid $mainText;
        font-size: 24px;

        option {
          background-color: #e8e8e6;
        }
      }

      &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;

        &.organisationField {
          display: flex;
          flex-direction: column;
          @include tablet {
            width: 700px;
          }

          input {
            background-color: #e8e8e6;
            margin-top: 10px;
            border: 1px solid $mainText;
          }
        }
      }

      &__elem {
        font-weight: 300;
        font-size: 24px;
        margin: 20px 20px;
        text-transform: uppercase;
        position: relative;

        &:hover .checkbox ~ .checkmark {
          background-color: $mainHL;
          opacity: .4;
        }

        .checkbox:checked ~ .checkmark {
          background-color: $mainHL;
        }

        .checkbox {
          margin-right: 20px;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          height: 25px;
          width: 25px;
          border: 1px solid $mainText;
          position: absolute;
          top: 0;
          left: -15px;

          &.help {
            height: 0;
            width: 0;
            left: 0;
          }
        }
      }

      &__elemHelp {
        display: flex;
        font-size: 18px;
        flex-wrap: wrap;
        font-weight: 300;
        text-transform: uppercase;
        @include tablet {
          width: 700px;
          font-size: 24px;
        }

        &__box {
          padding: 6px 13px;
          margin: 10px;
          border: 1px solid $mainText;
          position: relative;
          cursor: pointer;
          z-index: 3;
          @include tablet {
            margin: 20px;
            padding: 11px 26px;
          }

          .checkbox:checked ~ .checkmark {
            background: $mainHL;
          }

          .checkmark {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
          }

          .checkbox {
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            cursor: pointer;
          }
        }
      }

      &__numberOfBags {
        font-size: 24px;
        font-weight: 300;


        input {
          background: transparent;
          border: 1px solid $mainText;
          margin-top: 10px;
          @include tablet {
            margin-left: 20px;
          }
        }
      }
    }

    .donateInfo {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 700;

      &__details {
        margin-top: 20px;
        font-weight: 400;

        img {
          margin-right: 20px;
          width: 50px;
          height: 50px;
        }
      }
    }

    .addressTime {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 18px;
      font-weight: 700;
      margin-top: 50px;
      @include tablet {
        width: 50%;
        font-size: 24px;
      }

      li {
        width: 100%;
        margin-top: 20px;
        font-weight: 700;

        span {
          float: right;
          margin-left: 10px;
          font-weight: 300;
        }
      }
    }

    &.successInfo {
      width: 80%;

      .title {
        margin-top: 200px;

      }
    }
  }
}

.formBtn {
  display: flex;
  position: absolute;
  font-size: 24px;
  bottom: 30px;


  &__elem {
    text-decoration: none;
    color: $mainText;
    text-align: center;
    padding: 20px 30px;
    max-width: 140px;
    border: 1px solid $mainText;
    margin-right: 50px;
    font-weight: 300;
    transition: .3s;
    &:hover {
      border: 5px solid $mainHL;
    }

  }
}