.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .8);
  z-index: 10;
  transition: .3s;
  padding-bottom: 10px;

  &__content {

    &__login {
      display: flex;
      justify-content: flex-end;
      margin-top: 46px;
      margin-bottom: 26px;

      a {
        text-decoration: none;
        margin-left: 20px;
        color: $secondBg;
      }

      .userName {
        color: $mainHL;
        font-weight: 700;

        span {
          color: $mainText;
        }
      }

      .donateBtn {
        border-bottom: 3px solid $mainHL;
        padding-bottom: 3px;
      }
    }

    .navBtn {
      position: absolute;
      font-size: 25px;

      @include tablet {
        display: none;
      }
    }

    &__nav {
      @media (max-width: 767px) {
        height: 110vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        text-align: center;
        overflow-x: hidden;
        background: transparent;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        transition: .3s;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: -15px;
          background-image: url("/assets/columnsBg.png");
          transform-origin: 0 0;
          transform: skew(-14deg) translateX(0);
          opacity: 1;
        }
        &.showMobileNav {
          width: 100vw;
          opacity: 1;
        }

        .closeNavBtn {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 25px;
          color: $secondBg;
        }

        a {
          transform: translateX(-15%) skew(-16deg);
          text-align: right;
          width: 40%;
          display: block;
          text-decoration: none;
          font-size: 24px;
          letter-spacing: 3px;
          color: $secondBg;
          font-weight: 700;
          margin-bottom: 35px;
        }

        @for $i from 1 through 5 {
          a:nth-of-type(#{$i}) {
            margin-right: calc(0px + #{$i} * 40px);
          }
        }
      }

      @include tablet {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;


        a {
          text-decoration: none;
          margin-left: 55px;
          color: $mainText;
          padding-bottom: 5px;
          transition: .2s;
          &:hover {
            border-bottom: 3px solid $mainHL;
          }
        }

        .closeNavBtn {
          display: none;
        }
      }
    }
  }
}



.scrollDown {
  transform: translate3d(0, -90%, 0);
  border-bottom: 5px solid $mainHL;
  padding-bottom: 37px;

}