.header {

  &__content {

    &__login {
      display: flex;
      justify-content: flex-end;
      margin-top: 46px;
      margin-bottom: 26px;

      a {
        text-decoration: none;
        margin-left: 20px;
        color: $secondBg;
      }

      .userName {
        color: $mainHL;
        font-weight: 700;

        span {
          color: $mainText;
        }
      }

      .donateBtn {
        border-bottom: 3px solid $mainHL;
        padding-bottom: 3px;
      }
    }

    &__nav {
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        margin-left: 55px;
        color: $mainText;
      }
    }
  }
}