.about {
  margin-top: 80px;
  margin-bottom: 30px;
  background: $highlightBg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__text {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include tablet {
      width: 50%;
    }
    &__content {
      text-align: center;
      height: 100%;
      position: relative;

      .title {
        font-size: 38px;
        margin-bottom: 38px;
      }

      .decoration {
        margin-bottom: 20px;
        @include tablet {
          margin-bottom: 65px;
        }
      }

      .info {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .signature {
        position: absolute;
        bottom: -130px;
        right: 0;
        width: 180px;
        height: 118px;
        display: none;
        @include tablet {
          display: block;
        }
      }
    }
  }

  &__img {
    display: none;
    height: 100%;
    width: 50%;
    @include tablet {
      display: block;
    }
  }
}